PJSIP_ROOT = $(PROJECT_DIR)/pjsip
PJSIP_INCLUDE_DIR = $(PJSIP_ROOT)/include
PJSIP_LIB_DIR = $(PJSIP_ROOT)/lib
HEADER_SEARCH_PATHS = $(inherited) $(PJSIP_INCLUDE_DIR)
LIBRARY_SEARCH_PATHS = $(inherited) $(PJSIP_LIB_DIR)
ARCHS = arm64
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PJ_AUTOCONF=1 PJ_IS_LITTLE_ENDIAN=1 PJ_IS_BIG_ENDIAN=0
OTHER_CFLAGS = $(inherited) -I$(PJSIP_INCLUDE_DIR)
OTHER_LDFLAGS = $(inherited) -lpjsua-arm-apple-darwin25.5.0 -lpjsip-ua-arm-apple-darwin25.5.0 -lpjsip-simple-arm-apple-darwin25.5.0 -lpjsip-arm-apple-darwin25.5.0 -lpjmedia-codec-arm-apple-darwin25.5.0 -lpjmedia-videodev-arm-apple-darwin25.5.0 -lpjmedia-audiodev-arm-apple-darwin25.5.0 -lpjmedia-arm-apple-darwin25.5.0 -lpjnath-arm-apple-darwin25.5.0 -lpjlib-util-arm-apple-darwin25.5.0 -lsrtp-arm-apple-darwin25.5.0 -lresample-arm-apple-darwin25.5.0 -lgsmcodec-arm-apple-darwin25.5.0 -lspeex-arm-apple-darwin25.5.0 -lilbccodec-arm-apple-darwin25.5.0 -lg7221codec-arm-apple-darwin25.5.0 -lwebrtc-arm-apple-darwin25.5.0 -lpj-arm-apple-darwin25.5.0 -framework AudioToolbox -framework AVFoundation -framework CoreAudio -framework CoreMedia -framework VideoToolbox -framework Network -framework Security -framework SystemConfiguration -framework AppKit -lsqlite3

